.md-header {
    background-color: #faf1e1 !important; 
}


.md-header .md-tabs {
    background-color: #faf1e1 !important; 
}


.md-header .md-tabs .md-tab {
    background-color: #faf1e1 !important; 
    color: #000000 !important; 
}


.md-header .md-tabs .md-tab:hover {
    background-color: #faf1e1 !important; 
}


.md-header .md-tabs .md-tab.is-active {
    background-color: #faf1e1 !important; 
}


.md-button {
    background-color: #4682B4 !important; 
    color: black!important; 
}


.md-footer {
    background-color: #faf1e1 !important; 
}


.md-header .md-header--fixed {
    background-color: #faf1e1 !important; 
}


.md-header .md-header__search {
    background-color: #faf1e1 !important; 
}

.md-tabs {
    background-color: #faf1e1 !important; 
}




.md-ellipsis {
    color: #000;

} 
.md-tabs__link , .md-tabs__item , .md-tabs__item--active, .md-source__repository, .md-source__icon ,.md-icon{
    color: #000;
}







.link-block {
    display: flex;
    align-items: center;
    width: 600px; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.link-block:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-block img {
    width: 80px;  
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
}

.link-content {
    display: flex;
    flex-direction: column;
}

.link-content strong {
    font-size: 18px;
    margin-bottom: 5px;
}

.link-content p {
    margin: 0;
    font-size: 14px;
    color: #555;
}


.md-logo {
    width: 20px;  
    height: auto; 
}
  